div.auth-attention(l10n) Ripple Trade requires a complete account profile in order to maintain full functionality, and to sign up for gateways and services.
  div(l10n) Ripple Trade only has access to
  ul
    li(l10n) email
    li(l10n) city
    li(l10n) state
    li(l10n) country

  div(l10n) Ripple Trade cannot see your name, street address, or identification numbers. The details of those fields are encrypted such that only you can view, edit, or explicitly share them with a third party.
